.container {
  display: flex;
  justify-content: center;
  .loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.movieBox {
  width: 20%;
  margin: 30px;
  font-weight: 300;
  img {
    position: relative;
    box-shadow: 0 30px 60px -12px rgba(50,50,92,0.25),
                0 18px 36px -18px rgba(0,0,0,0.3),
                0 -12px 36px -8px rgba(0,0,0,0.025);
  }
  .name {
    margin-top: 30px;
  }

}